:root {
    --basic-width: 1232px;
    --special-yellow: #F5BD41;
    --text-color: #383838;
    --basic-white: #FFFFFF;
    --basic-blue: #10367C;
}

.container{
    margin-top:120px;
    margin-bottom:120px;
}
.center {
    margin: 0 auto;
    max-width: var(--basic-width);
    width: 100%;
}

.page {
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.page-body {
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    width: 100%;
}

.content-text {
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    color: var(--basic-white);
    text-decoration: none;
}


.services-company-title-chek {
    width: 100px;
    height: 4px;
    background-color: var(--special-yellow);
    margin: 0 auto;
    margin-bottom: 80px;
}

/*main homework*/

.main {
    width: 100%;
}

.services {
    margin-bottom: 120px;
    width: 100%;
}

.title {
    height: max-content;
    margin-bottom: 105px;
}

.services-company-title__text {
    font-style: normal;
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    color: var(--text-color);
    text-align: center;
}

.services-company__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    flex-wrap:wrap;
}

.services-company__item {
    min-height: 178px;
    min-width: 296px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.services-icon-wrapper {
    min-width: 120px;
    min-height: 120px;
    position: relative;
}

.services__icon--option {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 10px;
}

.services__icon1 {
    background: url("../img/support-icon.svg") no-repeat;
}

.services__icon2 {
    background: url("../img/forum-icon.svg") no-repeat;
}

.services__icon3 {
    background: url("../img/device-icon.svg") no-repeat;
}

.services__icon4 {
    background: url("../img/reviews-icon.svg") no-repeat;
}

.site-navigation {
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

/*footer*/

.main-footer {
    background: var(--basic-blue);
    padding-top: 102px;
    min-height: 630px;
    box-sizing: border-box;
    width: 100%;
}

.main-footer__navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
}

.main-footer__navigation-link  {
    margin: 0;
    padding: 0;
    min-height: 251px;
    margin-bottom: 24px;
}

.main-footer__navigation-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
}


.main-footer__navigation-item {
    list-style: none;
    margin-bottom: 24px;
}

.main-footer__footer--text {
    text-decoration: none;
    font-style: normal;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
    color: var(--basic-white);
    margin-bottom: 25px;
}

.main-footer__navigation-title {
    font-weight: 500;
}

.main-footer__copyright-text {
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}